{% extends "./base.html.twig" %}

{% block body %}
	{% if app.user %}
		<div class="sm:w-3/5 w-4/5 mx-auto border border-black rounded-lg">

			<h1 class="text-4xl font-bold text-gray-800 p-5 w-max border-b border-black m-auto mb-10">
				Manage Account
			</h1>

			<div class="grid grid-cols-2 gap-4 place-content-center">
				<a href="/users/edit/{{ app.user.id }}" class="bg-green-500 font-bold py-2 px-4 rounded transition-all hover:bg-green-300 mx-auto m-auto">
					Edit Account
				</a>
				{% if "ROLE_ADMIN" in app.user.roles  %}
					<h2 class="text-1xl text-white bg-red-500 mr-4 p-4 rounded w-fit h-fit">
						As a admin you can't delete your account!
					</h2>
				{% else %}
					<a href="/users/delete/{{ app.user.id }}" class="bg-red-500 font-bold py-2 px-4 rounded transition-all hover:bg-red-300 mr-auto my-5">
						Delete Account
					</a>
				{% endif %}
				<h1 class="text-4xl font-bold text-center m-auto">
					Emial:
				</h1>
				<h2 class="text-3xl">
					{{ app.user.email }}
				</h2>
				<h1 class="py-4 text-4xl font-bold text-center m-auto">
					Roles:
				</h1>
				<ul class="py-4 text-left my-auto">
					{% for role in app.user.roles %}
						<li>
							<h2 class="text-gray-500 font-bold text-2xl py-2">
								{{ role }}
							</h2>
						</li>
					{% endfor %}
				</ul>
			</div>

		</div>

	{% else %}
		<h1 class="text-4xl font-bold text-gray-800 p-5 w-max m-auto">
			Uupss! You are not login to application 😁
		</h1>
	{% endif %}
{% endblock %}
