{% extends "./base.html.twig" %}

{% block body %}
	<div class="w-4/5 m-auto pt-24">
		<h1 class="text-6xl text-center font-bold p-6">
			Edit Trip
		</h1>

		{{ form_start(form) }}

		{{ form_widget(form) }}
		<button type="submit" class="uppercase my-10 bg-blue-500 text-gray-100 text-lg font-extrabold py-4 px-8 rounded-2xl">
			Submit Post
		</button>

		{{ form_end(form) }}
	</div>
{% endblock %}
